.m1-form ::-webkit-input-placeholder {
    color: #28231e;
}

.m1-form ::-moz-placeholder {
    color: #28231e;
}

.m1-form :-moz-placeholder {
    color: #28231e;
}

.m1-form :-ms-input-placeholder {
    color: #28231e;
}

.m1-form :focus::-webkit-input-placeholder {
    color: transparent;
}

.m1-form :focus::-moz-placeholder {
    color: transparent;
}

.m1-form :focus:-moz-placeholder {
    color: transparent;
}

.m1-form :focus:-ms-input-placeholder {
    color: transparent;
}

.hidden {
    display: none;
}

.center {
    text-align: center;
}

.just {
    text-align: justify;
    -moz-text-align-last: center;
    text-align-last: center;
}

.clrfix:after {
    content: '';
    display: block;
    clear: both;
}

.clear {
    clear: both;
    height: 0;
}

.ulfix {
    font-size: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
}

b,
strong {
    font-weight: 700;
}

body {
    width: 100%;
    min-width: 320px;
    padding: 0;
    margin: 0 auto;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #28231e;
    background: #fff;
}

section {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    padding: 50px 0;
}

.wrap {
    width: 980px;
    padding: 0 10px;
    margin: 0 auto;
    height: 100%;
    position: relative;
}

.wrap:after {
    clear: both;
    content: "";
    display: table;
}

.nopad {
    padding: 0;
}

.m1-form .field {
    position: relative;
    display: block;
    outline: 0;
    border: 1px solid #dadbdc;
    background: #f5f6f7;
    width: 100%;
    height: 80px;
    margin: 0 auto 15px;
    padding: 0 20px;
    font-size: 18px;
    font-weight: 400;
    color: #28231e;
    text-align: center;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s;
}

.button-m {
    position: relative;
    display: block;
    width: 320px;
    height: 76px;
    line-height: 80px;
    margin: 0 auto;
    border: none;
    text-align: center;
    font-family: 'Intro', Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 400;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6);
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    letter-spacing: 0.6px;
    color: #28231e;
    background: #ffcc00;
    background: -moz-linear-gradient(top, #ffcc00 0%, #ff9c00 100%);
    background: -webkit-linear-gradient(top, #ffcc00 0%, #ff9c00 100%);
    background: linear-gradient(to bottom, #ffcc00 0%, #ff9c00 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffcc00', endColorstr='#ff9c00', GradientType=0);
    box-shadow: 0 4px 0 #d58200;
    border-radius: 5px;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.button-m:active {
    top: 1px;
}

.m1-form {
    padding: 0 20px;
}

.m1-form .button-m {
    width: 100%;
}

.dark-bg {
    background: url("dark-pat.jpg") 0 0 repeat #1d1d1d;
}

.dark-bg h2.title {
    color: #fff;
    background-image: url("title-dot2.png");
}

h2.title {
    font-family: 'Intro', Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 35px;
    line-height: 1.3em;
    margin: 0 0 30px;
    padding-bottom: 20px;
    text-align: center;
    letter-spacing: 1px;
    background: url("title-dot.png") 50% 100% no-repeat;
}

h2.title>span {
    color: #85c00c;
}

/*   slick   */

.slick-prev,
.slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 85px;
    display: block;
    padding: 0;
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: url("") 50% 50% no-repeat #85bf0b;
    width: 40px;
    height: 40px;
    z-index: 33;
    border-radius: 50%;
}

.slick-prev {
    left: 0;
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.slick-next {
    right: 0;
}

@media screen and (max-width: 979px) {
    .wrap {
        width: 660px;
    }
}

@media screen and (max-width: 659px) {
    .wrap {
        width: 320px;
    }
}